@model IEnumerable<FeedViewModel>;

@{
    ViewData["Title"] = "Home Page";
}
 



 <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
               
                
                <h5>Latest Feeds from <b class="text-danger">@ViewData["hostAdress"]</b>  <a href="/"><i class="fa fa-refresh" aria-hidden="true"></i></a>  </h5>
               
             

            </div>


            
               @foreach(var item in Model)
            {


            <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> 
                     
                       
                        <i class="fa fa-rss fa-lg user-img text-warning" width="30"></i>

                        <span>
                            
                         <h5 class="font-weight-bold">  <a href="@item.Link" target="_blank"> @item.title</a> </h5>
                            
                        
                        </span> 


                        </div> <small> <i class="fa fa-clock-o fa-lg text-primary"></i> @item.publishDate </small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">

                

                    <div class="reply">  
                        
                        
                        <p> @Html.Raw(item.Summary)</p> 
                        
                    </div>

                   
                </div>
            </div>



            }



           
        </div>
    </div>
</div>   

 




 
